Repository dejongyeong/portfolio-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

Notes added by 'git notes add'
  7b31117711ae83cd617f4d97e7e621767241b79d
Due: none

refactor: introduce passport-local
  .env.example
  package-lock.json
  package.json
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/entities/auth.entity.ts
  src/auth/guards/local-auth.guard.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/local.strategy.ts
  src/config/configurations.ts
  src/config/env.validation.ts
Due: npm run lint, npm run format

refactor: use conflict exception for invalid credentials and add comment
  src/auth/auth.service.ts
Due: npm run lint, npm run format

refactor: use local strategy on login
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/decorators/public.decorator.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/local.strategy.ts
Due: npm run lint, npm run format

refactor: remove unnecessary code
  src/auth/auth.service.ts
Due: npm run lint, npm run format

fix: revert and reset db
  prisma/migrations/20250318211834_add_publisher/migration.sql
  prisma/migrations/20250318212537_add_project_type/migration.sql
  prisma/migrations/20250318212750_edit_githublink_type/migration.sql
  prisma/migrations/20250319193830_add_keywords/migration.sql
  prisma/migrations/20250319201246_edit_link_field/migration.sql
  prisma/migrations/20250320162346_add_is_featured_field/migration.sql
  prisma/migrations/20250322233802_init/migration.sql
Due: none

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  1cc638ee6fe79d7fefe6d878217ee3fde7a8837e
Due: none

feat: create session resources to handle refresh token
  .env.example
  package-lock.json
  package.json
  prisma/migrations/20250323120333_add_sessions_scehma/migration.sql
  prisma/migrations/20250323135025_add_token_field/migration.sql
  prisma/schema.prisma
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/guards/jwt-refresh.guard.ts
  src/auth/strategies/jwt-refresh.strategy.ts
  src/auth/strategies/jwt.strategy.ts
  src/config/configurations.ts
  src/config/env.validation.ts
  src/main.ts
  src/sessions/dto/create-session.dto.ts
  src/sessions/dto/update-session.dto.ts
  src/sessions/sessions.controller.spec.ts
  src/sessions/sessions.controller.ts
  src/sessions/sessions.module.ts
  src/sessions/sessions.service.spec.ts
  src/sessions/sessions.service.ts
Due: npm run lint, npm run format

test: correct test to include sessions service
  src/auth/auth.controller.spec.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
Due: npm run lint, npm run format

ci: add secrets and repo variables
  .github/workflows/ci.yml
Due: none

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  05f57c3de271eca996315cc1cdd67a69e6abfcb4
Due: none

refactor: use proper exception status code for each error
  src/auth/auth.service.ts
  src/auth/strategies/jwt-refresh.strategy.ts
  src/auth/strategies/jwt.strategy.ts
  src/sessions/sessions.service.ts
Due: npm run lint, npm run format

feat: add rate limiting to all routes
  package-lock.json
  package.json
  src/app.module.ts
Due: npm run lint, npm run format

feat: add versioning to api routes
  src/auth/auth.controller.ts
  src/main.ts
  src/projects/projects.controller.ts
  src/publications/publications.controller.ts
  src/sessions/sessions.controller.ts
  src/users/users.controller.ts
Due: npm run lint, npm run format

chore(release): 1.8.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  a254d12a63ee3f5ac679237102f864fcc874156c
Due: none

feat: add helmet to protect headers
  package-lock.json
  package.json
  src/main.ts
Due: npm run lint, npm run format

chore(release): 1.9.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  cee35db65458a39a97a688b37f2ffdeb1804e0b5
Due: none

feat: implement reset password and send reset password link via email
  .env.example
  .github/workflows/ci.yml
  package-lock.json
  package.json
  prisma/migrations/20250324220314_add_reset_password_field/migration.sql
  prisma/migrations/20250324231434_add_unique_constraint/migration.sql
  prisma/schema.prisma
  src/app.module.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/strategies/jwt-refresh.strategy.ts
  src/auth/strategies/jwt.strategy.ts
  src/config/configurations.ts
  src/config/env.validation.ts
  src/email/email.module.ts
  src/email/email.service.spec.ts
  src/email/email.service.ts
  src/email/resend/resend.module.ts
  src/email/resend/resend.service.spec.ts
  src/email/resend/resend.service.ts
  src/users/dto/create-user.dto.ts
  src/users/dto/update-user.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.service.ts
Due: npm run lint, npm run format

test: fix missing api key when running test in ci
  src/auth/auth.controller.spec.ts
  src/auth/auth.service.spec.ts
Due: npm run lint, npm run format

chore(release): 1.10.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  4e5eaa821999a0da4a0d869c2990f8ceeeeb63db
Due: none

feat: include docker containerization into app
  .dockerignore
  Dockerfile
  docker-compose.yml
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.service.ts
Due: npm run lint, npm run format

test: fix app.e2e test
  test/app.e2e-spec.ts
Due: npm run lint, npm run format

test(app.e2e-spec.ts): fix test
  test/app.e2e-spec.ts
Due: npm run lint, npm run format

chore(release): 1.11.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  dc24e6716fe2ac16ff86c61b306cc306b73b951f
Due: none

refactor: make port a variable in docker
  Dockerfile
Due: none

fix: do not use legacy key value format
  Dockerfile
Due: none

chore(release): 1.11.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  56a8c6e18a17929f75abf2e4e5267bcdaff4015a
Due: none

ci: add docker to github workflow
  .github/workflows/ci.yml
  Dockerfile
Due: none

fix: use port 8080 for gcloud
  Dockerfile
  src/config/env.validation.ts
  src/main.ts
Due: npm run lint, npm run format

chore(release): 1.11.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  a8b95c090d40a43ab309f0efa89623dc2bc38a8f
Due: none

refactor: include docs and remove redundant code
  Dockerfile
  README.md
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/entities/auth.entity.ts
  src/main.ts
  src/projects/dto/create-project.dto.ts
  src/publications/dto/create-publication.dto.ts
  src/publications/publications.service.ts
  src/users/dto/create-user.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.controller.ts
Due: npm run lint, npm run format

feat: allow user to get signed url for file upload
  src/upload/dto/create-upload.dto.ts
  src/upload/dto/update-upload.dto.ts
  src/upload/entities/upload.entity.ts
  src/upload/upload.controller.spec.ts
  src/upload/upload.controller.ts
  src/upload/upload.module.ts
  src/upload/upload.service.spec.ts
  src/upload/upload.service.ts
Due: npm run lint, npm run format

Path conditions:
  npm run lint: any of: {src,apps,libs,test}/**/*.ts
  npm run format: any of: **/*.{ts,json}
