Repository dejongyeong/portfolio-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

chore: include eslint to sort imports and check for unused imports
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
Due: npm run lint, npm run format

chore: include tsc type check pre-commit husky
  .husky/pre-commit
  package-lock.json
  package.json
  test/app.e2e-spec.ts
  tsconfig.json
Due: npm run lint, npm run format

feat: migrate jest testing to vitest
  .prettierignore
  .swcrc
  nest-cli.json
  package-lock.json
  package.json
  test/jest-e2e.json
  vitest.config.e2e.ts
  vitest.config.ts
Due: npm run format

feat: create configuration to read from .env
  .env.example
  package-lock.json
  package.json
  src/app.module.ts
  src/app.service.ts
  src/config/env.validation.ts
  tsconfig.json
Due: npm run lint, npm run format

refactor: add database url on config
  .env.example
  src/app.service.ts
  src/config/configurations.ts
  src/config/env.validation.ts
Due: npm run lint, npm run format

ci: create ci with github actions
  .github/workflows/ci.yml
  test/app.e2e-spec.ts
Due: npm run lint, npm run format

feat: semantic release with github actions integration
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: npm run format

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  5db61005a2a9edc36e0fb319a9c599caf05fbbdb
Due: none

feat: prisma postgresql integration
  package-lock.json
  package.json
  prisma/migrations/20250318205339_init/migration.sql
  prisma/migrations/20250318211834_add_publisher/migration.sql
  prisma/migrations/20250318212537_add_project_type/migration.sql
  prisma/migrations/20250318212750_edit_githublink_type/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
  src/app.module.ts
  src/prisma/prisma.module.ts
  src/prisma/prisma.service.spec.ts
  src/prisma/prisma.service.ts
  tsconfig.json
Due: npm run lint, npm run format

Notes added by 'git notes add'
  a03afd0709ad9a4e445f76eae6d6de719e0c5dd7
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

fix: fix unable to read env during ci
  src/prisma/prisma.service.ts
Due: npm run lint, npm run format

chore(release): 1.1.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  2f7bf6c4007034fdd05170200a040a0db60cc847
Due: none

refactor: add keywords field to publication in db
  prisma/migrations/20250319193830_add_keywords/migration.sql
  prisma/schema.prisma
  prisma/seed.ts
Due: npm run format

feat: add swagger openapi description
  package-lock.json
  package.json
  src/main.ts
Due: npm run lint, npm run format

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  0ff28ac543839a16cddc282fa1e42976c6203d88
Due: none

feat: implement crud operations for publication model
  .vscode/settings.json
  package-lock.json
  package.json
  prisma/migrations/20250319201246_edit_link_field/migration.sql
  prisma/schema.prisma
  src/app.module.ts
  src/common/pipe/validation.pipe.ts
  src/publications/dto/create-publication.dto.ts
  src/publications/dto/update-publication.dto.ts
  src/publications/entities/publication.entity.ts
  src/publications/publications.controller.spec.ts
  src/publications/publications.controller.ts
  src/publications/publications.module.ts
  src/publications/publications.service.spec.ts
  src/publications/publications.service.ts
  tsconfig.json
Due: npm run lint, npm run format

fix: use full relative path
  src/publications/publications.controller.spec.ts
  src/publications/publications.controller.ts
Due: npm run lint, npm run format

Notes added by 'git notes add'
  b90b3113c868b19eb284a6aff1196ecc1148b7e9
Due: none

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

feat: implement crud operations for project model
  src/projects/dto/create-project.dto.ts
  src/projects/dto/update-project.dto.ts
  src/projects/entities/project.entity.ts
  src/projects/projects.controller.spec.ts
  src/projects/projects.controller.ts
  src/projects/projects.module.ts
  src/projects/projects.service.spec.ts
  src/projects/projects.service.ts
  src/projects/validators/is-year.validator.ts
Due: npm run lint, npm run format

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  da742be295d51795c43cb55384e8298dd35d0238
Due: none

test: fix failing test on app using full relative path
  test/app.e2e-spec.ts
Due: npm run lint, npm run format

refactor: use full relative path and include e2e test pre-push
  .husky/pre-push
  src/app.module.ts
  src/projects/projects.module.ts
  src/publications/publications.module.ts
Due: npm run lint, npm run format

refactor: add is featured column and corresponding api
  prisma/migrations/20250320162346_add_is_featured_field/migration.sql
  prisma/schema.prisma
  src/projects/dto/create-project.dto.ts
  src/projects/entities/project.entity.ts
  src/projects/projects.controller.ts
  src/projects/projects.service.ts
  src/publications/entities/publication.entity.ts
Due: npm run lint, npm run format

refactor: move prisma resources to common folder
  src/app.module.ts
  src/common/prisma/prisma.module.ts
  src/common/prisma/prisma.service.spec.ts
  src/common/prisma/prisma.service.ts
  src/projects/entities/project.entity.ts
  src/projects/projects.controller.spec.ts
  src/projects/projects.module.ts
  src/projects/projects.service.spec.ts
  src/projects/projects.service.ts
  src/publications/entities/publication.entity.ts
  src/publications/publications.controller.spec.ts
  src/publications/publications.module.ts
  src/publications/publications.service.spec.ts
  src/publications/publications.service.ts
  test/app.e2e-spec.ts
Due: npm run lint, npm run format

refactor: include config service on app module
  src/app.module.ts
  src/config/configurations.ts
  src/main.ts
Due: npm run lint, npm run format

feat: add error handling during crud operations
  src/main.ts
  src/prisma-client-exception/prisma-client-exception.filter.spec.ts
  src/prisma-client-exception/prisma-client-exception.filter.ts
  src/projects/projects.controller.ts
  src/publications/publications.controller.ts
Due: npm run lint, npm run format

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  d3317c9b3e5fb898549e20505021b3f6aef3e180
Due: none

chore: seed user data
  .env.example
  package-lock.json
  package.json
  prisma/seed.ts
  src/config/configurations.ts
  src/config/env.validation.ts
Due: npm run lint, npm run format

ci(ci.yml): add secrets to e2e testing
  .github/workflows/ci.yml
Due: none

ci: only run release.yml after ci.yml is completed successful
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

ci: uncomment env on ci.yml
  .github/workflows/ci.yml
Due: none

feat: user authentication with passport-jwt
  .env.example
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/auth.controller.spec.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.spec.ts
  src/auth/auth.service.ts
  src/auth/dto/login.dto.ts
  src/auth/entities/auth.entity.ts
  src/auth/guards/jwt-auth.guard.ts
  src/auth/strategies/jwt.strategy.ts
  src/config/configurations.ts
  src/config/env.validation.ts
  src/main.ts
  src/projects/projects.controller.ts
  src/publications/publications.controller.ts
  src/users/dto/update-user.dto.ts
  src/users/entities/user.entity.ts
  src/users/users.controller.spec.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.spec.ts
  src/users/users.service.ts
Due: npm run lint, npm run format

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Path conditions:
  npm run lint: any of: {src,apps,libs,test}/**/*.ts
  npm run format: any of: **/*.{ts,json}
