Repository dejongyeong/portfolio-server: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run format

feat: upload image with signed url
  .env.example
  .github/workflows/ci.yml
  package-lock.json
  package.json
  src/app.module.ts
  src/config/configurations.ts
  src/config/env.validation.ts
  src/projects/projects.controller.ts
Due: npm run lint, npm run format

ci: add secrets to fix build issues
  .github/workflows/ci.yml
Due: none

chore(release): 1.12.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  78e9b7641ea3c99d4332cc8fed9dd22b0f49ca73
Due: none

refactor: conditional check for project update with image link
  src/projects/projects.controller.spec.ts
  src/projects/projects.controller.ts
  src/projects/projects.module.ts
Due: npm run lint, npm run format

refactor: check if file exist before calling delete
  src/upload/upload.service.ts
Due: npm run lint, npm run format

refactor: add pagination to publication
  .github/workflows/ci.yml
  src/projects/projects.service.ts
  src/publications/publications.controller.ts
  src/publications/publications.service.ts
Due: npm run lint, npm run format

refactor: delete instead of update to save db space
  src/sessions/sessions.service.ts
Due: npm run lint, npm run format

ci: fix issues on validate commits from pr
  .github/workflows/ci.yml
  package-lock.json
Due: npm run format

fix: resolve password hashed twice when updating password
  src/auth/auth.service.ts
  src/users/dto/update-user.dto.ts
Due: npm run lint, npm run format

chore(release): 1.12.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  29b37d2856fdfa7e442393f7631731b790853aa0
Due: none

chore: update dependencies
  package-lock.json
Due: npm run format

chore: update dpendencies
  package-lock.json
Due: npm run format

fix: resolve deprecated typescript baseurl
  package-lock.json
  package.json
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  tsconfig.json
Due: npm run lint, npm run format

chore: update dependencies
  package-lock.json
  package.json
Due: npm run format

ci: use node version 25.x
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(Dockerfile): update node version
  Dockerfile
Due: none

build: fix dockerfile installing dependencies
  Dockerfile
Due: none

chore(release): 1.12.2 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format

Notes added by 'git notes add'
  3e8bc0ff83116a23f0caf88f3ad555a84202298a
Due: none

chore(deps): update to fix deps issues
  package-lock.json
Due: npm run format

Path conditions:
  npm run lint: any of: {src,apps,libs,test}/**/*.ts
  npm run format: any of: **/*.{ts,json}
